<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce|Register</title>
</head>
<body>
    <div><% message %></div>
    <form action="/signup" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password">
        <button type="submit">
            Sign in
        </button>
    </form>
</body>
</html>